:root {
  --primary-color: #057DCD;/*#bc5100;*/
  --primary-light-color: #1E3D58;/*#ce7d40;*/
  --bg-color: #E8EEF1;/* #fbe9e7; */
  --accent-color: #E8EEF1;/* white; */
  --secondary-color: white;
  --hint-color: gray;/* white;  */
}
html,body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  background: var(--bg-color);
  height:100%;
  width:100%;
  margin:0px;
  padding-bottom: 2%;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
 }

.navbar{
background: var(--primary-color);
z-index: 5%;
}
.content
{
  height:100%;
}

.card:not(.card-whatsup) {
  border-color: var(--secondary-color);
  background: var(--secondary-color);
}
.btn {
  color: var(--accent-color);
  background: var(--primary-color);
  border: none;
}
a:hover {
  color: var(--secondary-color);
}
.btn:hover {
  color: var(--accent-color);
  background: var(--primary-light-color);
}
.link:hover {
  color: var(--primary-color);
}
.dropdown-menu,
.dropdown-item,
.dropdown-item:hover {
  color: var(--accent-color);
  background: var(--primary-light-color);
  border: none;
}
.nav-link,
.navbar-brand,
.btn {
  color: var(--accent-color);
}

.form-control:focus {
  outline: none !important;
  border: 1px solid var(--primary-color) !important; 
  box-shadow: 0 0 10px #6278db !important;
}

.btn-quack {
  border-radius: 8px;
  font-size: 100%;
  text-align: center;
}
#char_count {
  font-size: 100%;
  color: var(--primary-color);
}

.card-whatsup {
  box-shadow: none;
  border-color: #f7f6f9;
  background: #f7f6f9;
  border-radius: 10px;
  height: auto;
}

.card-whatsup-bottom {
  justify-content: end;
  border: None;
  bottom: 0;
}

.card-display {
  font-size: 100%;
  border-radius: 10px;
  font-weight: 545;
}
.card-display-bottom {
  text-align: left;
  font-size: 90%;
  color: var(--hint-color);
  position: relative;
  bottom: 0;
  width: 100%;
}
.custom-border {
  border-bottom:1px solid var(--primary-color);
}

.logout-msg,h2
{
  color:var(--primary-color);
}

.left-banner
{ 
  background: var(--bg-color);
  color: var(--primary-color);
}
.right-banner
{
  background: var(--secondary-color);
  color: var(--primary-color);
}

.home-login
{
  background: var(--accent-color);
  color:var(--primary-color); 
  border:solid;
  border-width: thin;
  border-color:var(--primary-color);
}
