.content {
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2%;
}
.btn {
  color: white;
  background: #ff6f00;
  border: none;
}
a:hover {
  color: white;
}
.btn:hover {
  color: white;
  background: #ff9800;
}
.nav-link,
.navbar-brand,
.btn {
  color: #ffe0b2;
}

.form-control:focus {
  outline: none !important;
  border: 1px solid #ff9800;
  box-shadow: 0 0 10px #ffcc80;
}

.fas:hover {
  color: #ff9800;
}
.link:hover {
  color: #ff9800;
}

.btn-quack {
  display: inline-block;
  width: 6vw;
  height: 5vh;

  font-size: 1.1vw;
}
#char_count {
  display: inline-block;
  margin-left: 0.5vw;

  font-size: 1.1vw;
}

.card-whatsup {
  text-align: center;
  background: #f7f6f9;
  height: 27vh;
  display: inline-block;
  border-radius: 10px;
}

.card-display {
  display: inline-block;
  border-radius: 10px;
  margin-top: 8vh;
  font-size: 1vw;
}
