{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous" />

  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css'%}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/easy-autocomplete.css'%}" />

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" />
  <link href="https://fonts.googleapis.com/css?family=Quicksand:300,500" rel="stylesheet">
  <title>Quack</title>
</head>

<body>
  <!--navbar-->
  <nav class="navbar navbar-expand-lg navbar-dark">

    <!--logo-->
    <div class="d-flex flex-grow-1">
      <span class="w-100 d-lg-none d-block">
        <!-- hidden spacer to center brand on mobile --></span>
      <a class="navbar-brand d-none d-lg-inline-block" href="{% url 'home' %}"><Strong>Quack</Strong>
      </a>
      <a class="navbar-brand mx-auto d-lg-none d-inline-block" href="{% url 'home' %}">
        Quack
      </a>
      <div class="w-100 text-right">
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#myNavbar"
          aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
    <!--ends-->

    {% if user.is_authenticated %}
    <!--search bar to search for users or tags-->
    <div class="container justify-content-center justify-content-md-end mt-2 mb-2">
      <div class="row ">
        <div class="input-group col">
          <input id="autocomplete" type="text" class="form-control" placeholder="Username">
        </div>
      </div>
    </div>
    <!--ends-->
    {% endif %}

    <!--Navbar buttons-->
    <div class=" collapse navbar-collapse flex-grow-1 text-right" id="myNavbar">
      <ul class="navbar-nav ml-auto flex-nowrap">
        {% if user.is_authenticated %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle m-2" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            {{ user }}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'profile' user %}">Profile</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'logout'%}">Log out</a>
          </div>
        </li>
        {% else %}
        <li class="nav-item">
          <a href="{% url 'login' %}" class="nav-link m-2 menu-item nav-active">Log In</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'signup' %}" class="nav-link m-2 menu-item">Sign Up</a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a href="#" class="nav-link m-2 menu-item">About</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link m-2 menu-item">Contact</a>
        </li>
      </ul>
    </div>
    <!--ends-->

  </nav>
  <!--ends-->

  <!--alert messages-->
  {% if messages %} {% for message in messages %}
  <div class="alert alert-{{ message.tags }} text-center">
    {{ message }}
  </div>
  {% endfor %} {% endif %}
  <!--ends-->

  <!--space for actual content-->
  <div class="content">{% block content %} {% endblock content %}</div>
  <!--ends-->



  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>

  <script src="{% static 'js/jquery.easy-autocomplete.js' %}"></script>

  <!--main javascript using link
  <script src="{% static 'js/main.js' %}"></script>
  <!--ends-->

  <!--javascript added directly-->
  {% block javascript %} {% endblock javascript %}
  <!--ends-->

</body>

</html>