{%for post,like in zipped_data%}
<div class="row mb-4">
    <div class="card card-body card-display">
        <div class="m-1 ">{{post.user.first_name}} {{post.user.last_name}}</div>
        <div class="m-1 "> <a class="link" href="{% url 'profile' post.user.username %}">@{{post.user}}</a></div>
        <div class="m-1 " id="quack" style="text-align:left">
            {% for word in post.content.split %}
            {% if word|first in '#'%}
            <a class="link" href="{% url 'tag_page' word %}">{{word}}</a>
            {% else %}
            {{word}}
            {% endif %}
            {% endfor%}
        </div>
        <div style="text-align:right">
            <a id="like" pk={{post.pk}} url="{% url 'like' %}">
                {%if like%}
                <i class="fas fa-heart fas-{{post.pk}}" style="color:#bc5100">
                    {%else%}
                    <i class="fas fa-heart fas-{{post.pk}}" style="color:#B0B0B0">
                        {% endif %}
                        {{post.likes_count}}
                    </i>
            </a>
        </div>
        <div class="card-display-bottom">{{post.date_posted}}</div>
    </div>
</div>
{% endfor%}