{% extends 'base.html' %}{%load static %} {% block content %} {% if user.is_authenticated %}
<div class="container-fluid">
  <div class="row justify-content-center mt-5 ">
    <div class="col-10 col-md-4 col-lg-3 offset-md-4 offset-lg-3 ">
      <div class="row mb-4">
        <div class="card card-body card-whatsup">
          <form method="POST">
            {% csrf_token %}
            <div id="div_id_content" class="form-group" style="text-align: center">
              <textarea type="text" name="content" maxlength="250" autofocus
                class="textinput textInput form-control input-sm" id="id_content" placeholder="What's on your mind?"
                rows="4" style="resize: none;font-size:100%"></textarea>
            </div>
            <div class="form-group card-whatsup-bottom row justify-content-between">
              <div id="char_count" class="col-4 col-md-4 col-lg-4">250</div>
              <button class="btn btn-quack col-4 col-md-4 col-lg-4 mr-3" type="submit">Quack</button>
            </div>
          </form>
        </div>
      </div>
      {% include 'quack/card.html'  with zipped_data=zipped_data  %}
    </div>
    <div class="col-10 col-md-4 col-lg-3 offset-md-3 offset-lg-2 ">
      {% include 'quack/trending_tags.html'  with zipped_data=zipped_data  %}
    </div>
  </div>
</div>
</div>
{% else %}
<div class="h-100 container-fluid">
  <div class="h-100 row">
    <div class=" col-12 col-lg-4 left-banner jumbotron">
      <p class="display-3 text-center" style="background:white">QUACK</p>
      <div class=" h-100 row align-items-center text-center">
        <div class="col">
          <p class="h5 mt-4">Follow your interests.</p>
          <p class="h5 mt-4">Hear what ducks are quacking about.</p>
          <p class="h5 mt-4">Join the conversation.</p>
        </div>
      </div>

    </div>
    <div class=" col-12 col-lg-8 right-banner  ">
      <div class="h-100 row align-items-center text-center" style=" background:white">
        <div class="col">
          <h1 class="display-3 align-self-start">What's up duckiee!</h1>
          <p class="h6 ">
            Meet new ducks and quack!
          </p>
          <hr class="my-4" />
          <p class="text-center lead">
            See what’s happening in the world right now
          </p>

          <p class="h4">Join Quack today.</p>
          <div class="h-50 row align-items-center justify-content-center" style=" background:white">
            <p class="h4 mt-4 col-6 "> <a class="btn btn-block full-width" role="button" href="{% url 'signup' %}"">
                Sign Up
              </a></p>
              <div class=" w-100">
          </div>
          <p class=" h4 mt-4 col-6"> <a class="home-login btn btn-block full-width" role="button"
              href="{% url 'login' %}"">
                Log In
            </a></p>
              </div>
            </div>
          </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock content %}
{%block javascript%}
<script src=" {% static 'js/main.js' %}"></script>
              {% include 'quack/like.html' %}
              {% include 'quack/search.html' %}
              {% endblock javascript %}