{% extends 'base.html' %}{%load static %} {% block content %} {% if user.is_authenticated %}
<div class="row">
  <div class="col">
  </div>
  <div class="col-5" style="text-align:center">
   <div class="card card-body w-50" style="text-align: center;background:#F7F6F9;height:10.5rem;display:inline-block;border-radius: 10px">
    <form method="POST">
      {% csrf_token %}
      <div id="div_id_content" class="form-group" style="text-align: center">
        <textarea
          type="text"
          name="content"
          maxlength="250"
          autofocus
          class="textinput textInput form-control input-sm"
          id="id_content"
          placeholder="What's on your mind?"
          rows="4"
          style="resize: none;font-size:2vh"
        ></textarea>
      </div>
      <div class="form-group"  style="text-align: right">
        <div id="char_count" style="float:left;font-size:13px">250</div>
        <button class="btn btn-sm " type="submit" style="border-radius: 8px;">Quack</button>
      </div>
      </form>
    </div>
    {%for post,like in zipped_data%}
    <div class="card card-body w-50 quack" 
    style="display:inline-block;border-radius: 10px;margin-top:8vh;font-size:1vw">
 
  <div style="text-align:left">{{post.user.first_name}} {{post.user.last_name}}</div>
  <div style="text-align:left"> <a  class="link" href="{% url 'profile' %}">@{{post.user}}</a></div>
  <div class="m-1" id="quack" style="text-align:left">
      {% for word in post.content.split %}
        {% if word in post.tags.split %}
        <a class="link" href="{% url 'profile' %}">{{word}}</a>
        {% else %}
        {{word}}
        {% endif %}
    {% endfor%}
  </div>
  <div style="text-align:right"><a id="like" pk={{post.pk}} url="{% url 'like' %}" >
    {%if like%}
    <i class="fas fa-heart fas-{{post.pk}}" style="color:red"></i></a></div>
    {%else%}
    <i class="fas fa-heart fas-{{post.pk}}" style="color:#ECEFF1"></i></a></div>
    {% endif %}
  <div style="text-align:left;font-size:0.6vw;font-weight:20px;position: relative;
  bottom: 0;
  width: 100%;">{{post.date_posted}} </div>
  </div>
  {% endfor%}
  </div>
  <div class="col">
  </div>
</div>
    {% else %}
    <div class="jumbotron">
      <h1 class="display-4">Hello, world!</h1>
      <p class="lead">
        This is a simple hero unit, a simple jumbotron-style component for
        calling extra attention to featured content or information.
      </p>
      <hr class="my-4" />
      <p>
        It uses utility classes for typography and spacing to space content out
        within the larger container.
      </p>
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>
    {% endif %} 
</div>
{% endblock content %}
{%block javascript%}
  <script>
  $("[id='like']").click(function(){
        $.ajax({
                type: "POST",
                url: "{% url 'like' %}",
                data: {'pk': $(this).attr('pk'), 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                dataType: "json",
                success: function(response) {
                        if(response.liked)
                            $('.fas-'+response.pk).css("color","red")
                        else
                            $('.fas-'+response.pk).css("color","#ECEFF1")
                  },
                  error: function(rs, e) {
                        alert(rs.responseText);
                  }
            }); 
      })
</script>
{% endblock javascript %}