{% extends "base.html" %} {% block content %}
<div class="content-section" style="margin-left:35%;margin-right:35%">
  {% if form.errors %}
  <div class="alert alert-danger">
    {{ errors | escape }}Incorrect username or password
  </div>
  {% endif %}
  <form method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Log In</legend>
      <div class="form-group" style="text-align: center">
        <input
          type="text"
          name="username"
          autofocus
          required
          id="id_username"
          class="form-control input-sm"
          placeholder="Username"
        />
      </div>
      <div class="form-group" style="text-align: center">
        <input
          type="password"
          name="password"
          required
          id="id_password"
          placeholder="Password"
          class="form-control input-sm"
        />
      </div>
    </fieldset>
    <div class="form-group" style="text-align: center">
      <button class="btn btn-outline-info btn-md" type="submit">
        Login
      </button>
    </div>
  </form>
  <div class="border-top pt-3">
    <small class="text-muted">
      Need An Account? <a class="ml-2" href="{% url 'signup' %}">Sign Up Now</a>
    </small>
  </div>
</div>
{% endblock content %}
